.cell {
  box-sizing: border-box;
  border: 3px inset grey;
  width: 100%;
  aspect-ratio: 1;
  min-width: 38px;

}

.hovered {
  background-color: chocolate;
}

.cell:focus {
  background-color: yellow;
}

.covered {
  background-color: rgba(128, 128, 128, 0.445);

}

.d1 {
  color: blue;
}

.d2 {
  color: green;
}

.d3 {
  color: red;
}

.d4 {
  color: darkblue;
}

.d5 {
  color: darkred;
}

.d6 {
  color: cyan;
}

.d7 {
  color: black;
}

.d8 {
  color: darkgray;
}

.danger {
  color: white;
}


.uncovered {
  background-color: rgba(131, 241, 241, 0.418);
  /*color: red;*/
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  font-size: clamp(10px, 22px, 3em);
  font-weight: 900;

}

.bomb {
  background-color: red
}


.marked {
  background-color: slategray;
}

.marked::after {
  content: '🚩';
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
  font-size: clamp(5px, 22px, 3em);
}

.doubt {
  background-color: slategray;
}

.doubt::after {
  content: "?";
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
  font-size: clamp(25%, 22px, 3em);
  font-weight: 900;
}